.main.style4.primary.changeForm {
	padding: 8em 0 0 0;
}
/*
#signup_form {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
}
*/
/*input size + align 2*/
/*.signup_form {
	color: rgb(184, 138, 120);
	text-align: center;
	padding: 0 1em 0 1em;
	font-size: 100%;
}
*/
/*input size + align 1*/
input#modal_name,input#modal_address,input#modal_school,
input#modal_workplace, input#modal_occupation {
	width: 62%;
	color: white;
	display: inline;
	margin-right: 5%;
	background-color: rgba(77,155,183,0.6);
}
input#modal_cellphone1,input#modal_cellphone2,input#modal_cellphone3,
input#modal_homephone1,input#modal_homephone2,input#modal_homephone3,
input#modal_birthday1,input#modal_birthday2,input#modal_birthday3 {
	font-size: 70%;
	padding: 0.6em;
	width: 18.6%;
	color: white;
	display: inline;
	margin-right: 3%;
	background-color: rgba(77,155,183,0.6);

 }
#reset {
	width: 6%;
}
.changeinfo_input {
	float: center;
}
.changeinfo_text {
	width: 14%;
	margin: 2% 3% 0 0;
	float: center;
	color: #0c4881;
	font-size: 1em;
	margin-right: 3%;
	display: inline;
}
.changeinfo_button {
	width: 24%;
	float: center;
	font-size: 0.9em;
}
.margintop {
	margin-top: 0.8em;
}
.changeinfo_desc {
	font-size: 90%;
	text-align: left;
	padding: 3% 8%;
	color: #0c4881;
	line-height: 50px;
}
.button_some {
	width: 15%;
	color: rgba(77,155,183,0.6);
	background-color: white;
}