

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 15pt;
	}
	

/*********************************************************************************/
/* junseok_add                                                                */
/*********************************************************************************/

.junseok1 {
     font-family: FontAwesome; 
    font-size: 3em;
    margin-top: 2%;
}